.header {
  background-color: var(--company-color);
  color: var(--body-color);
  height: 10vh;
  position: relative;


  &__inner {
    // height: 10vh;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }


    ul {
      display: flex;
      gap: 40px;
    }

}


.switchers {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  // background-color: red;
  height: 10vh;
}


.header__bottom {
  position: absolute;
  z-index: 999;
  width: 100%;
height: 80px;
display: flex;
height: 5vh;
background-color:rgba(9, 18, 66, 0.25); 
  &-left {
    
  }
  &-right {

  }
}