.dropdown {
    button{
        background-color: transparent;
        border: none;
    }
    button:hover{
        background-color: transparent;
    }
    &:hover{
        background-color: transparent;
    }
    svg {
        fill: whitesmoke;
    }

    
}

